<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anirbanchakraborty.tic_tac_toe">
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/tic_tac_toe_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".two_player_names"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".two_player"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".highscores2p"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".BluetoothActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".about"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".one_player"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".one_player_difficult"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".one_player_easy"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".SingleDevice2P"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".two_player_selector"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".TwoDevice2P"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".TwoDevice2P_names"
            android:configChanges="orientation|screenSize">

        </activity>

    </application>

</manifest>